"*":
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "language-php"
      "language-c"
      "language-objective-c"
      "language-perl"
      "welcome"
      "language-clojure"
      "language-csharp"
      "language-make"
      "language-less"
      "test-status"
      "atom-html-preview"
      "emmet"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "SFMono-Regular"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.55
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "fuzzy-finder":
    preserveLastSearch: true
  runner:
    scopes:
      ruby: "/usr/local/bin/rbenv exec ruby"
  tabs:
    enableVcsColoring: true
  "test-status": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    tabLength: 2
